.app-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
img {
  width: 200px;
}

.post-container {
  width: 500px;
  margin: 20px auto;
}

.post-header {

}

